name: "[release hook] Process release"

on:
  pull_request:
    types: [closed, opened, reopened, synchronize, edited, ready_for_review]

permissions:
  contents: read

jobs:
  check-files:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      srcChanged: ${{ steps.changes.outputs.srcChanged }}
    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            srcChanged:
              - ".github/workflows/release-hook-on-closed.yml"
  release-process-request:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for updating release PRs
      issues: write # required to create issues for failed releases
    needs: check-files
    if: github.repository == 'open-telemetry/opentelemetry-ruby-contrib' && (github.event.action == 'closed' || needs.check-files.outputs.srcChanged == 'true')
    runs-on: ubuntu-24.04
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/.toys/release/Gemfile
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Ruby
        uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - name: Process release request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        if: github.event.action == 'closed'
        run: |
          bundle exec toys release _onclosed --verbose \
            "--event-path=${{ github.event_path }}" \
            < /dev/null
