name: Open release request

on:
  workflow_dispatch:
    inputs:
      gems:
        description: Gems to release (leave blank to release all gems)
        required: false
        default: ""

permissions:
  contents: read

jobs:
  release-request:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for creating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    env:
      ruby-version: "3.2"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.ruby_version }}
        uses: ruby/setup-ruby@v1.263.0
        with:
          ruby-version: ${{ env.ruby_version }}

      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"

      - name: Create otelbot app token
        uses: actions/create-github-app-token@v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.OTELBOT_RUBY_CONTRIB_APP_ID }}
          private-key: ${{ secrets.OTELBOT_RUBY_CONTRIB_PRIVATE_KEY }}

      - name: Open release pull request
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          toys release request --yes --verbose \
            "--gems=${{ github.event.inputs.gems }}" \
            "--release-ref=${{ github.ref }}" \
            < /dev/null
