name: Open release request - Weekly

on:
  schedule:
    - cron: "0 15 * * 2"

permissions:
  contents: read

jobs:
  release-request:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for creating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    env:
      RUBY_VERSION: "3.2"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.RUBY_VERSION }}
        uses: ruby/setup-ruby@v1.268.0
        with:
          ruby-version: ${{ env.RUBY_VERSION }}

      - name: Checkout repo
        uses: actions/checkout@v6.0.0

      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"

      - name: Create otelbot app token
        uses: actions/create-github-app-token@v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.OTELBOT_RUBY_CONTRIB_APP_ID }}
          private-key: ${{ secrets.OTELBOT_RUBY_CONTRIB_PRIVATE_KEY }}

      - name: Open release pull request
        env:
          # Using the app token instead of GITHUB_TOKEN to trigger workflows
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          toys release request --yes --verbose \
            "--release-ref=${{ github.ref }}" \
            < /dev/null
