name: "[release hook] Process release"

on:
  pull_request:
    types: [closed, opened, reopened, synchronize, edited, ready_for_review]

permissions:
  contents: read

jobs:
  check-files:
    permissions:
      contents: read
      pull-requests: read
    ouputs:
      srcChanged: ${{ steps.changes.outputs.srcChanged }}
    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            srcChanged:
             - ".github/workflows/release-hook-on-closed.yml"
  release-process-request:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for updating release PRs
      issues: write # required to create issues for failed releases
    needs: check-files
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' && (github.event.action == 'closed' || needs.check-files.outputs.srcChanged == 'true') }}
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby
        uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
        with:
          ruby-version: "4.0.1"
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Toys
        run: "gem install --no-document toys -v 0.19.1"
      - name: Process release request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        if: github.event.action == 'closed'
        run: |
          toys release _onclosed --verbose \
            "--event-path=${{ github.event_path }}" \
            < /dev/null
