name: Open release request - Weekly

on:
  schedule:
    - cron: "0 15 * * 2"

permissions:
  contents: read

jobs:
  release-request:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for creating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby
        uses: ruby/setup-ruby@b90be12699fdfcbee4440c2bba85f6f460446bb0 # v1.279.0
        with:
          ruby-version: "3.2"

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"

      - name: Create otelbot app token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.OTELBOT_RUBY_CONTRIB_APP_ID }}
          private-key: ${{ secrets.OTELBOT_RUBY_CONTRIB_PRIVATE_KEY }}

      - name: Open release pull request
        env:
          # Using the app token instead of GITHUB_TOKEN to trigger workflows
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          toys release request --yes --verbose \
            "--release-ref=${{ github.ref }}" \
            < /dev/null
