---
name: Release Please

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  prepare:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for creating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    name: Process Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: otelbot-token
        with:
          app-id: ${{ vars.OTELBOT_APP_ID }}
          private-key: ${{ secrets.OTELBOT_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: prepare
        # with:
        #   token: ${{ steps.otelbot-token.outputs.token }}

    outputs:
      paths_released: ${{ steps.prepare.outputs.paths_released }}

  publish:
    needs: prepare
    name: Publish Gems
    runs-on: ubuntu-latest
    if: ${{ needs.prepare.outputs.paths_released != '[]'}}

    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        path: ${{ fromJson(needs.prepare.outputs.paths_released) }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Configure RubyGems
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_API_KEY}}"

        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials

      - uses: ruby/setup-ruby@ed55d55e820a01da7d3e4863a8c51a61d73c3228 # v1.274.0
        with:
          ruby-version: "3.2"
          bundler: latest
          bundler-cache: false
          working-directory: ${{ matrix.path }}

      - name: Publish to RubyGems
        working-directory: ${{ matrix.path }}
        run: |
          bundle exec rake --trace build
          bundle exec rake --trace release:rubygem_push
