name: Retry release

on:
  workflow_dispatch:
    inputs:
      release_pr:
        description: Release PR number
        required: true
      flags:
        description: Extra flags to pass to the release script
        required: false
        default: ""

permissions:
  contents: read

jobs:
  release-retry:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for creating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    env:
      RUBY_VERSION: "3.2"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.RUBY_VERSION }}
        uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ${{ env.RUBY_VERSION }}

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"

      - name: Retry release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          toys release retry --yes --verbose \
            "--enable-releases=${{ secrets.ENABLE_RELEASES }}" \
            "--rubygems-api-key=${{ secrets.RUBYGEMS_API_KEY }}" \
            ${{ github.event.inputs.flags }} \
            "${{ github.event.inputs.release_pr }}" \
            < /dev/null
