name: "[release hook] Update open releases"

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release-update-open-requests:
    permissions:
      contents: write # required for updating releases
      pull-requests: write # required for updating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    env:
      RUBY_VERSION: "3.2"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.RUBY_VERSION }}
        uses: ruby/setup-ruby@f8d7259c7a66155a7c4a157a1a10ca601f186594 # v1.271.0
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"
      - name: Update open releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          toys release _onpush --verbose \
            < /dev/null
