name: Retry release

on:
  workflow_dispatch:
    inputs:
      release_pr:
        description: Release PR number
        required: true
      flags:
        description: Extra flags to pass to the release script
        required: false
        default: ""

permissions:
  contents: read

jobs:
  release-retry:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for updating label on PR, posting comments
      issues: write # required for creating new issues on failed releases
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    runs-on: ubuntu-24.04
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/.toys/release/Gemfile
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Ruby
        uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
        with:
          ruby-version: "4.0"
          bundler-cache: true

      - name: Retry release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        run: |
          bundle exec toys release retry --yes --verbose \
            ${{ github.event.inputs.flags }} \
            "${{ github.event.inputs.release_pr }}" \
            < /dev/null
