name: Open release request

on:
  workflow_dispatch:
    inputs:
      names:
        description: Components to release (leave blank to release all components)
        required: false
        default: ""

permissions:
  contents: read

jobs:
  release-request:
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for creating release PRs
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby-contrib' }}
    runs-on: ubuntu-24.04
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/.toys/release/Gemfile
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Ruby
        uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
        with:
          ruby-version: "4.0"
          bundler-cache: true

      - name: Create otelbot app token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.OTELBOT_RUBY_CONTRIB_APP_ID }}
          private-key: ${{ secrets.OTELBOT_RUBY_CONTRIB_PRIVATE_KEY }}

      - name: Open release pull request
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          bundle exec toys release request --yes --verbose \
            "--target-branch=${{ github.ref }}" \
            ${{ github.event.inputs.names }} \
            < /dev/null
